<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ランダムTodoタスク表示</title>
<link href="../css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
	<h1 class="text-success">このTodoタスクを頑張りましょう！</h1>
	<div style="text-align:center">
		<h3 class="text-success">選ばれたTodoタスク</h3>
		<th:block th:unless="${msg}">
			<p>========Todoタスクのタイトル========</p>
			<p th:text="${todoTaskForm.todo_title}"></p>
			<p>========Todoタスクの内容========</p>
			<p th:text="${todoTaskForm.todo_content}"></p>
			<p>========予想所要時間========</p>
			<p th:text="${todoTaskForm.todo_time} + '分'"></p>
		</th:block>
	</div>
	<p th:unless="${todoTaskForm.newTodoTask}">
		<a href="#" th:href="@{/study}">Todoタスク一覧画面へ</a>
	</p>
	<th:block th:if="${msg}">
		<p th:text="${msg}" style="color:red"></p>
		<a th:href="@{/study/}">Todoタスク一覧画面へ</a>
	</th:block>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>